@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  sm: '480px',
  md: '768px',
  lg: '976px',
  xl: '1440px',
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scrollbar-color: green yellow;
}

/*
::-webkit-scrollbar{
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #121924;
}

::-webkit-scrollbar-thumb{
  background: #182436;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-button:single-button {
  background-color: #121924;
  background-position: center;
  display: block;
  border:  solid;
  width: 10px;
  height: 20px;
}



::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-repeat: no-repeat;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.666504 3.33333L3.99984 0L7.33317 3.33333H0.666504Z' fill='%23EDEDED'/%3e%3c/svg%3e ");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-repeat: no-repeat;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.3335 0.666667L4.00016 4L0.66683 0.666667L7.3335 0.666667Z' fill='%23EDEDED'/%3e%3c/svg%3e ");
}
*/